<div class="tw-w-full tw-bg-[#f8f9fa] tw-py-[75px]" bis_skin_checked="1">
  <div class="tw-grid text-center tw-justify-center tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-5 tw-gap-4 container">
    <div class="tw-flex tw-flex-col" bis_skin_checked="1">
      <h2 class="tw-text-xl fw-bold mb-2">Vị trí</h2>
      <p class="tw-mb-1">Hà Nội</p>
      <p class="tw-mb-1">TP. Hồ Chí Minh</p>
      <p class="tw-mb-1">Đà Nẵng</p>
      <p class="tw-mb-1">Cần Thơ</p>
      <p class="tw-mb-1">Nha Trang</p>
    </div>

    <div class="tw-flex tw-flex-col" bis_skin_checked="1">
      <h2 class="tw-text-xl fw-bold mb-2">Liên hệ</h2>
      <p class="tw-mb-1">+84 12 3456 789</p>
      <p class="tw-mb-1">+84 25 5568 456</p>
      <p class="tw-mb-1">email@gmail.com</p>
    </div>

    <div class="tw-flex tw-flex-col" bis_skin_checked="1">
      <h2 class="tw-text-xl fw-bold tw-mb-2">Dịch vụ của chúng tôi</h2>
      <p class="tw-mb-1">Giao hàng nhanh</p>
      <p class="tw-mb-1">Thanh toán dễ dàng</p>
      <p class="tw-mb-1">Hỗ trợ 24/7</p>
    </div>

    <div class="tw-flex tw-flex-col" bis_skin_checked="1">
      <h2 class="tw-text-xl fw-bold mb-2">Chính sách</h2>
      <p class="tw-mb-1">Chính sách bảo mật</p>
      <p class="tw-mb-1">Điều khoản sử dụng</p>
      <p class="tw-mb-1">Chính sách đổi trả</p>
    </div>

    <div class="tw-flex tw-flex-col md:tw-col-start-1 md:tw-col-end-3 lg:tw-col-start-5 lg:tw-col-end-5" bis_skin_checked="1">
      <h2 class="tw-text-xl fw-bold mb-2">Theo dõi chúng tôi</h2>
      <div class="tw-flex tw-gap-3 align-self-center">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>
  </div>
</div>

<p class="end">
  <!-- Họ tên ở đây -->
   Họ và tên
</p>
